h1, h2, h3, h4, h5, h6 {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #16d1f0;
    --secondary-color: #92e3f7;
    --tertiary-color: white;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#index {
    background-color: #16d1f0;
    background-image: url("/images/maddy background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#about {
    background-color: #92e3f7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    float: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: transparent;
}

header {
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: right;
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;

}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #16d1f0;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

nav a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #16d1f0;
    padding: 20px;
    border-radius: 25px;
}

#text {
    flex: 0 0 100%;
    margin-bottom: 20px;
}

#header-content {
    text-align: center;
    flex: 0 0 100%;
}

#welcome {
    font-size: 16px;
    text-align: justify;
    color: #ffffff;
    margin-bottom: 20px;
}

#image-gallery {
    flex: 0 0 100%;
    margin-top: 20px;
}

#rotating-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#rotating-gallery img {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #content-container {
        flex-direction: column;
    }

    #text {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

main section {
    margin-bottom: 20px;
}

main section h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

main section p {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #92e3f7;
    padding: 20px;
    margin-top: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    flex: 0 0 calc(50% - 10px);
    background-color: #16d1f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.box p {
    color: white;
    margin-bottom: 0;
}

#image-gallery {
    flex: 0 0 calc(50% - 10px);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#rotating-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#rotating-gallery img {
    width: 100%;
    margin-bottom: 10px;
}

#gallerycontainer {
    float: right;
    clear: both;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.price-box {
    flex: 0 0 calc(45% - 20px);
    background-color: #16d1f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-box h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.price-box p {
    color: white;
    margin-bottom: 0;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #92e3f7;
    padding: 20px;
    margin-top: auto;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #16d1f0;
    cursor: pointer;
}
#pexelstext{
    color:#16d1f0;
}